body {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.content-history{
    display: flex;
    gap: 50px;
    justify-content: center;
    border: 1px black solid;
    max-width: 500px;
    margin: 0 auto;
    overflow-x: scroll;
    border-radius: 12px;
}