body {
    margin: 0;
    
}

.content {
    display: flex;
    justify-content: center;
}

.content-history{
    display: flex;
    gap: 50px;
    justify-content: center;
    border: 1.5px #dbdbdb solid;
    max-width: 500px;
    margin: 0 auto;
    overflow-x: scroll;
    border-radius: 8px;
    background-color: white;
}

.content > div:last-child {
    margin-top: 36px;
    margin-left: 20px;
}