div {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.side-img {
    margin: 0;
    width: 450px;
}

section {
    background-color: white;
    width: 350px;
    border: 1px rgb(192, 192, 192) solid;
    padding: 32px;
    box-sizing: border-box;
}


img {
    width: 175px;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

button {
    width: 100%;
}

.facebook-img{
    width: 250px ;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px ;

}



